.venv/
*.zip
*.whl
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw
*.pyzwzwz
*.pyzwzwzw
*.pyzwzwzwz
files/
__pycache__/
.DS_Store
.env
.hh
.env.local
.env.development.local
.env.test.local
.env.production.local