.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyw
*.pyz
*.whl
*.zip
.DS_Store
.env
.hh
.env.local
.env.development.local
.env.test.local
.env.production.local
results.csv
files/results.csv
files/data/*
!files/data/.gitkeep
